#articlesPage {
  --articleBoxWidth: 370px;
  text-align: center;
  margin: 80px auto;
  max-width: 1250px;

  /* max-width and --articlesBoxWidth in media */
}

#articleCountInfo {
  text-align: right;
  color: grey;
  font-size: 1.125rem;
}

#articlesPageTitle {
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 700;

  /* font-size in media */
}

#articleBoxesSection {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 80px 0;

  /* gap, grid-template-columns in media */
}

.articleBox {
  width: var(--articleBoxWidth);
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(68, 68, 68, 0.25);

  /* max-width in media */
}

.articleBoxImg {
  width: var(--articleBoxWidth);
  object-fit: cover;
  height: 200px;
  border-radius: 10px 10px 0 0;

  /* height in media */
}

.articleBoxInfo {
  text-align: left;
  padding: 12px 20px 20px;

  /* padding in media */
}

.articleBoxCreatedAt {
  font-size: 1rem;
  color: grey;
  margin-bottom: 16px;

  /* font-size and margin-bottom in media */
}

.articleBoxTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  /* font-size, font-weight and margin-bottom in media */
}

.articleBoxText {
  font-size: 1.125rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;

  /* font-size, line-height and margin-bottom in media */
}

@media (max-width: 1400px) {
  #articlesPage {
    max-width: 900px;
    --articleBoxWidth: 270px;
  }

  #articlesPageTitle {
    font-size: 3rem;
  }

  #articleBoxesSection {
    gap: 40px 40px;
  }

  .articleBoxImg {
    height: 170px;
  }

  .articleBoxInfo {
    padding: 12px 12px 20px;
  }

  .articleBoxCreatedAt {
    font-size: 0.875rem;
    margin-bottom: 12px;
  }

  .articleBoxTitle {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .articleBoxText {
    font-size: 1rem;
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  #articlesPage {
    margin: 80px 40px;
  }

  #articleBoxesSection {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .articleBox {
    width: 100%;
    max-width: 370px;
  }

  .articleBoxImg {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #articlesPage {
    margin: 80px 40px;
  }

  #articleBoxesSection {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .articleBox {
    height: 200px;
    display: flex;
    max-width: unset;
    border-radius: 15px;
  }

  .articleBoxImg {
    border-radius: 15px 0 0 15px;
    height: 200px;
    width: 40%;
  }

  .articleBoxInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .articleBoxText {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .articleBoxImg {
    display: none;
  }

  .articleBoxInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
  }
}
