#articlesPreviewSection {
  margin: 100px auto;
  padding: 0 50px;
  max-width: 1200px
}

#articlesPreviewTop {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#articleSectionTitle {
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0;
}

#viewArticlesButton {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: #0A4D78;
  border: 0px;
  padding: 3px 15px;
  height: 100%;
  border-radius: 15px;
}

#threeArticles {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-top: 30px;
  
}

.article {
  /* --articlePrevWidth in media */
  display: inline-block;
  width: var(--articlePrevWidth);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgb(68,68,68, 0.25);
  height: 100%;
}

.articlePrevImg {
  display: inline-block;
  width: var(--articlePrevWidth);
  height: 200px;
  border-radius: 20px 20px 0 0;

}

.articlePrevTitle {
  display: inline-block;
  width: var(--articlePrevWidth);
  line-height: 110%;
  width: 100%;

  /* font size in media */
  /* margin-bottom in media */
}

.articlePrevReadMore {
  color: #1893E2;
  font-weight: 500;
  text-decoration: none;
}


@media (min-width: 992px) {

  @media (min-width: 1400px) {

    .article {
      --articlePrevWidth: 320px;
    }

    .articlePrevTitle {
      font-size: 2rem;
      margin-bottom: 16px;
    }

    .articlePrevBody {
      font-size: 1rem;
      line-height: 160%;
      margin-bottom: 16px;
    }

    .articlePrevText {
      padding: 20px 20px 40px;
    }

  }

  @media (max-width: 1399px) {
    .article {
      --articlePrevWidth: 280px;
    }

    .articlePrevTitle {
      font-size: 1.7rem;
      margin-bottom: 12px;
    }

    .articlePrevBody {
      font-size: 1rem;
      line-height: 140%;
      margin-bottom: 12px;
    }

    .articlePrevText {
      padding: 20px 20px 32px;
    }
  }

}