#introSection {
  background-color: rgb(239,248,250);
  border: 3px solid black;
  padding: 80px 110px;
  justify-content: center;
  display: flex;
}

#introInner {
  height: 500px;
  width: 1250px;
  display: flex;
  
}

#introInfo {
  width: 50%;
  align-self: center;
}


#introTitle {
  font-size: 3.5rem;
  margin-bottom: 8px;
  font-weight: 700;
  position: relative;
  right: 3px;
}

#introParagraphs {
  font-size: 1.3rem;
}

#introParagraphs > p {
  margin-top: 30px;
}

#introTestemonials {
  width: 50%;
  height: 500px;
}

.flashingReviewsContainer {
  height: 500px;
  width: auto;
  position: relative;
  display: grid;
}

.introReview {
  position: relative;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgb(217, 231, 233)
}

/* .carousel-indicators {
  display: none;
} */