/* -----Hero Section----- */

#heroSection {
  width: 100%;
} 

.heroParts {
  white-space: nowrap;
  vertical-align: top;
  height: 600px;
  width: 50%;
  display: inline-block;
  position: relative;
}

#heroLeft {
  background-color: orange;

}

#heroLeftText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
}

.homeButton {
  margin-top: 30px;
  border: 1px solid grey;
}

#heroRight {
  background-color: rgb(0, 0, 255);

}

#heroRightImg {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(30%, -50%);
  border-radius: 50%;
  height: 300px;
}

/* -----Blog Section----- */

#blogsHomeSection {
  width: 100vw;
  display: inline-block;
  position:relative;
  text-align: center;
  padding: 50px 0;
  background-color: rgb(238, 238, 238);
}

.blogBox {
  text-align: center;
  height: 500px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px lightgrey; 
  border-radius: 5px;
  position: relative;
  display: inline-block;
  margin: 50px;
  padding: 10px;
}

.blogBoxImg {
  height: 200px;
  width: 200px;
  justify-content: center;
}