#homePage {
  width: 100%;
}

/* -----Hero Section----- */

#heroSection {
  --heroLRHeight: 500px;
  --heroLRWidth: 574px;
  width: 100%;
  /* height: 800px; */
  padding: 80px 50px;
  background: linear-gradient(rgb(255, 240, 203, 1), rgb(255, 240, 203, 0.5));
  display: grid;
  grid-template-columns: auto min-content;
}

#heroLeft {
  display: inline-block;
  position: relative;
  align-content: center;
  height: var(--heroLRHeight);
  width: var(--heroLRWidth);
  margin-left: 80px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#triangleArrows {
  position: relative;
  left: 350px;
  bottom: 15px;
}

#heroInfo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#heroTitle {
  font-size: 4.5rem;
  line-height: 100%;
  letter-spacing: 1px;
  color: #0a4d78;
}

#learnUnderline {
  position: relative;
  bottom: 95px;
  left: 172px;
  width: 170px;
}

#heroParagraph {
  /* margin-top: 20px; */
  padding-left: 5px;
  max-width: 460px;
  font-size: 1.25rem;
  line-height: 150%;
  color: #565656;
}

#wavyArrows {
  position: absolute;
  right: 540px;
  bottom: 40px;
}

.heroButtons {
  margin-top: 40px;
  margin-right: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 8px 15px;
  border: none;
}

.heroButton1 {
  background-color: #f0a050;
}

.heroButton2 {
  background-color: #0a4d78;
}

#heroRight {
  /* max-width: var(--heroLRWidth); */
  /* float: right; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: right;
}

#heroImg {
  aspect-ratio: var(--heroLRWidth) / var(--heroLRHeight);
  max-height: 500px;
  margin: auto;
}



















/* SubHeroReviews Section  */

.scroller {
  max-width: 600px;
  /* height: 100px; */
  /* gap: 10px; */
  outline: 3px solid lime;
}

.scroller__inner {
  display: flex;
  /* gap: 1rem; */
  padding-block: 1rem;
  flex-wrap: wrap;
}

.scroller[data-animated=true] {
  border: 5px solid lime;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    height: 100%;
    top: 10%;
}

.scroller[data-animated=true] > .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

/* .scroller[data-direction="right"] {
  --_animation_direction: reverse;
} */

/* .scroller[data-direction="left"] {
  --_animation_direction: forwards;
} */

@keyframes scroll {
  to {
    transform: translate(-50%);

  }
}


#subHeroReviewsSection {
  height: 400px;
  background-color: lightgrey;
}

#ovalsContainer {
  display: flex;
  /* height: 100%; */
  /* justify-content:center; */
  margin: 0 auto;
  align-items: center;
}

.oval {
  width: 150px;
  background-color: white;
  display: flex;
  padding: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.reviewImg {
  height: 200px;
}










/* -----Choose your class section----- */

#chooseYourClassTitle {
  text-align: center;
  margin: 100px 0;
  font-size: 4.5rem;
}

#justXGrouped {
  display: flex;
  justify-content: space-around;
  margin: 50px 150px;
}

.justXSections {
  height: auto;
  width: 270px;
  background-color: grey;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
  padding: 30px 0 10px;
  margin-bottom: 100px;
}

.justBubbles {
  height: 80px;
}

.justXSections > h3 {
  margin-top: 16px;
  font-size: 2rem;
}

.justXSections > p {
  font-size: 0.8rem;
  line-height: 150%;
  margin: 10px calc((100% - 220px) / 2);
  width: 220px;
  justify-self: center;
}

/* .justXSections > button {
  height: 3.25rem;
  width: 12.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  border: none;
} */

.justGrammarSection {
  background-color: #e7fff6;
}

#leftStar {
  position: relative;
  margin-top: -46px;
  margin-left: -46px;
  bottom: 150px;
  right: 80px;
}

#leftDots {
  position: relative;
  margin-top: -220px;
  margin-left: -151px;
  top: 100px;
  left: 8px;
  z-index: -1;
}

.justGrammarSection > button {
  background-color: #21a372;
}

.justSpeakSection {
  background-color: #fef7e5;
}

#middleStar {
  position: relative;
  margin-top: -46px;
  margin-left: -46px;
  top: 310px;
}

#middleDots {
  position: relative;
  margin-left: -220px;
  margin-top: -151px;
  top: 248px;
  left: 226px;
  z-index: -1;
}

.justSpeakSection > button {
  background-color: #f0a050;
}

.justVocabSection {
  background-color: #ebfcff;
}

#rightStar {
  position: relative;
  margin-top: -46px;
  margin-left: -46px;
  left: 300px;
}

#rightDots {
  position: relative;
  margin-left: -220px;
  margin-top: -151px;
  top: 34px;
  left: 226px;
  z-index: -1;
}

.justVocabSection > button {
  background-color: #0a4d78;
}

/* -----Solo or Group Section----- */

#soloOrGroupSection {
  margin: 150px 150px;

}

#oneToOneSection {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 100px;
}

#eclipse1 {
  position: relative;
  height: 600px;
  width: 712px;
  margin-bottom: -600px;
  margin-left: -712px;
  bottom: 350px;
  left: 350px;
  z-index: -1;
}

#eclipse2 {
  position: relative;
  height: 600px;
  width: 712px;
  margin-bottom: -600px;
  margin-left: -712px;
  bottom: 650px;
  left: 900px;
  z-index: -1;
}

#oneToOneSquiggle {
  height: 70px;
  position: relative;
  margin-top: -70px;
  margin-right: -104px;
  left: 260px
}

#oneToOneImg {
  width: 500px;
  /* height: 492px; */
  display: inline-block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#oneToOneInfo {
  /* max-width: 50%; */
  width: 500px;
  /* height: 492px; */

  justify-self: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

#oneToOneContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#oneToOneTitle {
  font-size: 4.5rem;
  font-weight: 500;
}

#oneToOneParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;
  font-size: 1.125rem;
}

.lessonButtons {
  margin-top: 20px;
  margin-right: 40px;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  border-radius: 15px;
  padding: 8px 20px;
  border: none;
}







#groupSection {
  display: grid;
  grid-template-columns: 50% 50%;
}

#groupImg {
  width: 500px;
  /* height: 492px; */
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: right;
}

#groupInfo {
  /* max-width: 50%; */
  width: 500px;
  /* height: 492px; */
  justify-self: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
}

#groupContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#groupTitle {
  font-size: 4.5rem;
  font-weight: 500;
}

#groupParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;
  font-size: 1.125rem;
}

#groupSquiggle {
  width: 100px;
  position: relative;
  left: 400px;
  bottom: 50px;
}




























/* -----Reviews Section----- */

#reviewsSection {
  height: 400px;
  background-color: #565656;
  width: 100vw;
}

/* -----Blog Section----- */

#blogsHomeSection {
  width: 100vw;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 50px 0;
  background-color: rgb(238, 238, 238);
}

.blogBox {
  text-align: center;
  height: 500px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px lightgrey;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  margin: 50px;
  padding: 10px;
}

.blogBoxImg {
  height: 200px;
  width: 200px;
  justify-content: center;
}
