#heroSection {
  --heroLRHeight: 500px;
  --heroLRWidth: 574px;
  width: 100%;
  background: linear-gradient(rgb(255, 240, 203, 1), rgb(255, 240, 203, 0.5));
  display: flex;
  justify-content: center;

  /* padding in media */
}

#heroTitle {
  line-height: 100%;
  letter-spacing: 1px;
  color: #0a4d78;

  /* margin-bottom in media */
  /* font-size in media */
}

.heroParagraph {
  line-height: 150%;
  color: #565656;

  /* padding and width in media */
  /* font size in media */
}

.heroButtons {
  margin-top: 40px;
  margin-right: 20px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 3px 15px;
  border: none;

  /* font-size in media */
}

.heroButton1 {
  background-color: #f0a050;
}

.heroButton2 {
  background-color: #0a4d78;
}

@media (min-width: 992px) {
  #heroInner {
    display: grid;
    grid-template-columns: auto min-content;

    /* width in media */
  }

  #heroLeft {
    display: inline-block;
    position: relative;
    align-content: center;
    height: var(--heroLRHeight);
    width: var(--heroLRWidth);
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    /* margin-left in media */
  }

  #triangleArrows {
    position: relative;

    /* size and position in media */
  }

  #heroInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }



  #learnUnderline {
    position: relative;

    /* size and position in media */
  }

  .heroParagraph {
    padding-left: 4px;
    max-width: 460px;

    /* margin-bottom in media */
    /* font-size in media */
  }

  #wavyArrows {
    position: absolute;

    /* position and size in media */
  }

 

  #heroRight {
    /* max-width: var(--heroLRWidth); */
    /* float: right; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: right;
  }

  #heroImg {
    aspect-ratio: var(--heroLRWidth) / var(--heroLRHeight);
    display: grid;
    margin: auto;

    /* size in media */
  }

  @media (min-width: 1400px) {

    #heroSection {
      padding: 80px 50px;
    }

    #heroLeft {
      margin-left: 60px;
    }

    #learnUnderline {
      bottom: 95px;
      left: 172px;
      width: 170px;
    }

    #triangleArrows {
      height: 69px;
      left: 350px;
      bottom: 15px;
    }

    #heroTitle {
      font-size: 4.5rem;
      margin-bottom: 8px;
    }

    .heroParagraph {
      font-size: 1.3rem;
      margin-bottom: 16px;
    }

    #wavyArrows {
      right: 540px;
      bottom: 40px;
    }

    .heroButtons {
      font-size: 1.3rem;
    }

    #heroImg {
      max-height: 500px;
    }

    #heroInner {
      width: 1250px;
    }
  }

  @media (min-width: 992px) and (max-width: 1399px) {
    #heroSection {
      padding: 70px 50px;
    }

    #heroInner {
      --heroLRHeight: 425px;
      --heroLRWidth: 488px;
      width: 1000px;
    }

    #heroLeft {
      margin-left: 40px;
    }

    #triangleArrows {
      height: 62px;
      left: 296px;
    }

    #heroTitle {
      font-size: 3.75rem;
      margin-bottom: 0px;
    }

    #learnUnderline {
      bottom: 74px;
      left: 138px;
      width: 150px;
    }

    .heroParagraph {
      font-size: 1.2rem;
      margin-bottom: 0px;
    }

    #wavyArrows {
      height: 140px;
      right: 460px;
      bottom: 40px;
    }

    .heroButtons {
      font-size: 1.3rem;
    }

    #heroImg {
      align-self: center;
      max-height: 425px;
    }
  }
}

@media (max-width: 991px) {
  #heroSection {
    padding: 20px 50px 60px;
  }

  #joelLinkedIn {
    border-radius: 50%;
    width: 20%;
    margin: 30px 40%;
  }

  #heroTitle {
    text-align: center;
    font-size: 3.75rem;
    margin: 0 10%;
  }

  #learnUnderlineContainer {
    margin: 0 10%;
    text-align: center;
  }

  #learnUnderline {
    position: relative;
    right: 36px;
    bottom: 72px;
    width: 150px;
  }

  .heroParagraph {
    text-align: center;
    font-size: 1.3rem;
  }

  #heroButtonsContainer {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .heroButtons {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 5%;
  }
}