#aboutBottomSection {
  display: grid;
  justify-content: center;
  color: #343a3f;
  
}

#aboutBottomInner {
  margin: 0 110px 80px;
  padding: 40px 80px;
  grid-template-columns: 47.5% 47.5%;
  gap: 5%;
  max-width: 1250px;
  display: grid;
  background-color: #fef7e5;
  border-radius: 40px;
  border: 5px solid #ffdc81;

  /* border-radius in media */
}

#aboutBottomTitle {
  font-weight: 800;
  font-size: 2.5rem;
  grid-column: 1/3;
}

#aboutBottomSection p {
  font-size: 1.125rem;
}

.aboutBottomAnchors {
  text-decoration: none;
  color: #0b4d78;
}

.aboutBottomAnchors:hover {
  /* color: #03273e; */
  font-weight: 600;
}

.aboutBottomHR {
  display: none;
}


@media (max-width: 992px) {
  #aboutBottomInner {
    margin: 80px;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  #aboutBottomInner {
    padding: 20px;
    border-radius: 20px;
  }

  
}

@media (max-width: 576px) {
  #aboutBottomInner {
    display: inline;
    margin: 0 40px 110px;
  }

  #aboutBottomTitle {
    margin-bottom: 20px;
  }

  .aboutBottomHR {
    display:block;
    color: #0b4d78;
    height: 1px;
  }
}

@media (max-width: 450px) {
  #aboutBottomInner {
    
    margin: 0 20px 110px;
  }
}