#soloOrGroupSection {
  margin: 150px 150px;

}

#oneToOneSection {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 100px;
}

#eclipse1 {
  position: relative;
  height: 600px;
  width: 712px;
  margin-bottom: -600px;
  margin-left: -712px;
  bottom: 350px;
  left: 350px;
  z-index: -1;
}

#eclipse2 {
  position: relative;
  height: 600px;
  width: 712px;
  margin-bottom: -600px;
  margin-left: -712px;
  bottom: 650px;
  left: 900px;
  z-index: -1;
}

#oneToOneSquiggle {
  height: 70px;
  position: relative;
  margin-top: -70px;
  margin-right: -104px;
  left: 260px
}

#oneToOneImg {
  width: 500px;
  /* height: 492px; */
  display: inline-block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#oneToOneInfo {
  /* max-width: 50%; */
  width: 500px;
  /* height: 492px; */

  justify-self: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

#oneToOneContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#oneToOneTitle {
  font-size: 4.5rem;
  font-weight: 500;
}

#oneToOneParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;
  font-size: 1.125rem;
}

.lessonButtons {
  margin-top: 20px;
  margin-right: 40px;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  border-radius: 15px;
  padding: 8px 20px;
  border: none;
}







#groupSection {
  display: grid;
  grid-template-columns: 50% 50%;
}

#groupImg {
  width: 500px;
  /* height: 492px; */
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: right;
}

#groupInfo {
  /* max-width: 50%; */
  width: 500px;
  /* height: 492px; */
  justify-self: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
}

#groupContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#groupTitle {
  font-size: 4.5rem;
  font-weight: 500;
}

#groupParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;
  font-size: 1.125rem;
}

#groupSquiggle {
  width: 100px;
  position: relative;
  left: 400px;
  bottom: 50px;
}