#soloOrGroupSection {
  /* --soloOrGroupBoxWidth in media */

  margin: 150px 0 50px;
  overflow: hidden;
}

#eclipse1 {
  position: relative;
  z-index: -1;

  /* left and bottom in media */
  /* size and margins in media */
}

#eclipse2 {
  position: relative;
  z-index: -1;

  /* left and bottom in media */
  /* size and margins in media */
}

#oneToOneImg {
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  /* display in media as soloOrGroupImgs (hidden below 991px) */
}

#oneToOneInfo {
  /* max-width: 50%; */
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */

  justify-self: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

.soloOrGroupTitle {
  font-weight: 700;

  /* size in media */
}

.soloOrGroupParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;

  /* font-size in media */
}

.lessonButtons {
  margin-top: 20px;
  margin-right: 40px;
  color: white;
  font-weight: bold;
  border: none;

  /* font-size in media */
  /* padding in media */
  /* border-radius in media */
}

.lessonButtons:hover {
  animation-duration: 3.5s;
  animation-name: buttonmove; /* as found in Hero.css */
  animation-duration: 20s;
}

#groupSection {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
}

#groupImg {
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: right;

  /* display in media as soloOrGroupImgs (hidden below 991px) */
}

#groupInfo {
  /* max-width: 50%; */
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */
  justify-self: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
}

@media (min-width: 992px) {

  #oneToOneSection {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto 100px;
  }

  #oneToOneContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #groupContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  

  .soloOrGroupImgs {
    display: inline-block;
  }

  @media (min-width: 1400px) {
    #soloOrGroupSection {
      padding: 0 60px;
      --soloOrGroupBoxWidth: 500px;
    }

    #oneToOneSection {
      max-width: 1200px;
    }

    #groupSection {
      max-width: 1200px;
    }

    .soloOrGroupTitle {
      font-size: 3.75rem;
      margin-bottom: 8px;
    }

    .soloOrGroupParagraph {
      font-size: 1.125rem;
    }


    .lessonButtons {
      font-size: 1.3rem;
      padding: 3px 20px 5px;
      border-radius: 10px;
    }

    #oneToOneSquiggle {
      height: 70px;
      position: relative;
      margin-top: -70px;
      margin-right: -104px;
      left: 260px;
    }

    #eclipse1 {
      left: 350px;
      bottom: 350px;
      height: 600px;
      width: 712px;
      margin-bottom: -600px;
      margin-left: -712px;
    }

    #eclipse2 {
      left: 1000px;
      bottom: 600px;
      height: 600px;
      width: 712px;
      margin-bottom: -600px;
      margin-left: -712px;
    }

    #groupSquiggle {
      width: 100px;
      position: relative;
      left: 400px;
      bottom: 50px;
    }
  }

  @media (min-width: 992px) and (max-width: 1400px) {
    #soloOrGroupSection {
      padding: 0 40px;
      --soloOrGroupBoxWidth: 450px;
    }

    #oneToOneSection {
      max-width: 1000px;
    }

    #groupSection {
      max-width: 1000px;
    }

    .soloOrGroupTitle {
      font-size: 3rem;
      margin-bottom: 16px;
    }

    .soloOrGroupParagraph{
      font-size: 1rem;
    }

    .lessonButtons {
      font-size: 1.125rem;
      padding: 3px 16px 5px;
      border-radius: 10px;
    }

    #oneToOneSquiggle {
      height: 58px;
      position: relative;
      margin-top: -58px;
      margin-right: -86px;
      left: 210px;
    }

    #eclipse1 {
      left: 300px;
      bottom: 300px;
      height: 500px;
      width: 600px;
      margin-bottom: -500px;
      margin-left: -600px;
    }

    #eclipse2 {
      left: 800px;
      bottom: 500px;
      height: 500px;
      width: 600px;
      margin-bottom: -500px;
      margin-left: -600px;
    }

    #groupSquiggle {
      width: 85px;
      position: relative;
      left: 350px;
      bottom: 50px;
    }

  }
}


@media (max-width: 992px) {

  #oneToOneSection {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 120px;
  }

  #groupSection {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 120px;
    text-align: right;
  }

  .soloOrGroupParagraph {
    font-size: 1.125rem;
  }

  .lessonButtons {
    font-size: 1.125rem;
    padding: 3px 16px 5px;
    border-radius: 10px;
  }

  #groupSquiggle {
    width: 100px;
    position: relative;

    /* position in media */
  }

  #oneToOneSquiggle {
    height: 70px;
    position: relative;
    margin-top: -70px;
    margin-right: -104px;

    /* position in media */
  }

  @media (min-width: 768px) and (max-width: 996px) {

    .soloOrGroupContainer {
      width: 500px;
    }
  
    #groupContainer {
      width: 500px;
      position: relative;
      left: calc(80vw - 500px)
    }

    .groupButtons {
      position: relative;
      left: 40px;
    }

    #oneToOneSquiggle {
      top: 20px;
      left: 400px;
    }

    #eclipse1 {
      left: 30vw;
      height: 500px;
      width: 600px;
      margin-bottom: -500px;
      margin-left: -600px;
    }
  
    #eclipse2 {
      left: 130vw;
      bottom: 400px;
      height: 500px;
      width: 600px;
      margin-bottom: -500px;
      margin-left: -600px;
    }

    #groupSquiggle {
      left: -250px;
      top: 250px;
    }
  

    .soloOrGroupTitle {
      font-size: 3.5rem;
    }


  }

  @media (max-width: 768px) {
    #soloOrGroupSection {
      margin-top: 0px;
    }

    #oneToOneSection {
      text-align: center;
    }

    #groupSection {
      text-align: center;
      padding-bottom: 50px;
    }

    #groupInfo {
      width: 200%;
    }
    
    .soloOrGroupTitle {
      font-size: 3rem;
    }

    .lessonButtonsGroup {
      width: 150%;
      position: relative;
      right: 25%
    }

    .lessonButtons {
      margin: 20px 10px 0
    }


    #oneToOneSquiggle {
      top: 20px;
      left: 100px;
    }

    #eclipse1 {
      left: 0;
      height: 400px;
      width: 480px;
      margin-bottom: -400px;
      margin-left: -480px;
    }
  
    #eclipse2 {
      left: calc(80vw - 160px);
      bottom: 450px;
      height: 400px;
      width: 480px;
      margin-bottom: -400px;
      /* margin-left: -480px; */
      justify-content: right;
    }

    #groupSquiggle {
      position: relative;
      left: 1000px;
      top: 250px;
    }

  }

}
