#soloOrGroupSection {
  /* --soloOrGroupBoxWidth in media */

  margin: 150px 0 50px;
  overflow: hidden;
}

#oneToOneSection {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto 100px;
}

#eclipse1 {
  position: relative;
  z-index: -1;

  /* left and bottom in media */
  /* size and margins in media */
}

#eclipse2 {
  position: relative;
  z-index: -1;

  /* left and bottom in media */
  /* size and margins in media */
}

#oneToOneImg {
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */
  display: inline-block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#oneToOneInfo {
  /* max-width: 50%; */
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */

  justify-self: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

#oneToOneContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.soloOrGroupTitle {
  font-weight: 500;

  /* size in media */
}

#oneToOneParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;

  /* font-size in media */
}

.lessonButtons {
  margin-top: 20px;
  margin-right: 40px;
  color: white;
  font-weight: bold;
  border: none;

  /* font-size in media */
  /* padding in media */
  /* border-radius in media */
}

#groupSection {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
}

#groupImg {
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: right;
}

#groupInfo {
  /* max-width: 50%; */
  width: var(--soloOrGroupBoxWidth);
  /* height: 492px; */
  justify-self: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
}

#groupContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#groupParagraph {
  padding-left: 3px;
  line-height: 160%;
  max-width: 70ch;
  font-size: 1.125rem;
}

@media (min-width: 992px) {
  @media (min-width: 1400px) {
    #soloOrGroupSection {
      padding: 0 60px;
      --soloOrGroupBoxWidth: 500px;
    }

    #oneToOneSection {
      max-width: 1200px;
    }

    #groupSection {
      max-width: 1200px;
    }

    .soloOrGroupTitle {
      font-size: 3.75rem;
      margin-bottom: 8px;
    }

    #oneToOneParagraph {
      font-size: 1.125rem;
    }

    #groupParagraph {
      font-size: 1.125rem;
    }

    .lessonButtons {
      font-size: 1.3rem;
      padding: 3px 20px;
      border-radius: 10px;
    }

    #oneToOneSquiggle {
      height: 70px;
      position: relative;
      margin-top: -70px;
      margin-right: -104px;
      left: 260px;
    }

    #eclipse1 {
      left: 350px;
      bottom: 350px;
      height: 600px;
      width: 712px;
      margin-bottom: -600px;
      margin-left: -712px;
    }

    #eclipse2 {
      left: 1000px;
      bottom: 650px;
      height: 600px;
      width: 712px;
      margin-bottom: -600px;
      margin-left: -712px;
    }

    #groupSquiggle {
      width: 100px;
      position: relative;
      left: 400px;
      bottom: 50px;
    }
  }

  @media (min-width: 992px) and (max-width: 1400px) {
    #soloOrGroupSection {
      padding: 0 40px;
      --soloOrGroupBoxWidth: 450px;
    }

    #oneToOneSection {
      max-width: 1000px;
    }

    #groupSection {
      max-width: 1000px;
    }

    .soloOrGroupTitle {
      font-size: 3rem;
      margin-bottom: 16px;
    }

    #oneToOneParagraph {
      font-size: 1rem;
    }

    #groupParagraph {
      font-size: 1rem;
    }

    .lessonButtons {
      font-size: 1.125rem;
      padding: 3px 16px;
      border-radius: 10px;
    }

    #oneToOneSquiggle {
      height: 58px;
      position: relative;
      margin-top: -58px;
      margin-right: -86px;
      left: 210px;
    }

    #eclipse1 {
      left: 300px;
      bottom: 300px;
      height: 500px;
      width: 600px;
      margin-bottom: -500px;
      margin-left: -600px;
    }

    #eclipse2 {
      left: 800px;
      bottom: 600px;
      height: 500px;
      width: 600px;
      margin-bottom: -500px;
      margin-left: -600px;
    }

    #groupSquiggle {
      width: 85px;
      position: relative;
      left: 350px;
      bottom: 50px;
    }

  }
}
