#aboutMethodSection {
  display: grid;
  justify-content: center;
  color: #343a3f;
  text-align: left;
}

.aboutMethodInner {
  margin: 80px 110px;
  max-width: 1250px;
  display: grid;

  /* margin in media */
}

#myMethodTitle {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.aboutMethodInner > article {
  display: grid;
  gap: 5%;
  align-items: center;
  margin-bottom: 120px;
}

.aboutMethodInner > article > div {
  background-color: #eff8fa;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #0b4d78;
}

#aboutArticlePt1 {
  grid-template-columns: 55% 40%;  
}

#aboutArticlePt2 {
  grid-template-columns: 40% 55%;
}

#aboutArticlePt3 {
  grid-template-columns: 55% 40%;  
}

.aboutArticleLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}

.aboutArticleRight {
  grid-column: 2/3;
  grid-row: 1/2;
}

.aboutMethodImg {
  width: 100%;
  max-height: 300px;
}

/* .aboutMethodInner > article {
  width: 100%;
  margin-bottom: 120px;
} */

#aboutArticlePt2 {
  justify-self: right;
}

.aboutMethodTitle {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 20px;
}

.aboutMethodParagraph{
  font-size: 1.125rem;
}

.aboutMethodInner > img {
  width: 100%;
}

@media (max-width: 991px) {
  #myMethodTitle {
    font-size: 3rem;
  }

  .aboutMethodInner {
    margin: 80px;
  }

  .aboutMethodInner > article {
    display: inline;
    gap: 5%;
    align-items: center;
    margin-bottom: 120px;
  }

  .aboutMethodInner > img {
    width: 80%;
  }
}

@media (max-width: 576px) { 
  #aboutMethodSection {
    text-align: center;
  }

  .aboutMethodInner {
    margin: 40px;
  }
}

@media (max-width: 450px) {
  .aboutMethodInner {
    margin: 60px 20px;
  }
}

