#footerSection {
  color: #0a4d78;
  background: #eff8fa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 10% 80px;
  justify-items: center;
  width: 100%;
  gap: 20px;
}

#footerSection div {
  max-width: 250px;
}

.footerList {
  padding: 0;
}

.footerList li {
  list-style-type: none;
  margin: 5px 0;
}

.footerList h3 {
  margin-bottom: 20px;
}

.social {
  padding-bottom: 3px;
}

.socialLink {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

@media (max-width: 577px) {
  #footerSection {
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
  }
}
