#reviewsSection {
  background-color: #F0F7FE;
  width: 100vw;
  justify-self: center;
  padding: 2rem 0 2rem;
  overflow: hidden;
}

#reviewsTitle {
  text-align: center;
  font-size: 3.5rem;
  color: #0a4d78;
  margin-bottom: 0rem;
}

.carousel-item {
  justify-items: center;
}

.carousel-item-start, .carousel-item-end {
  z-index: 1;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  max-width: 1200px;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.reviewImg {
  position: relative;
  height: 300px;
  justify-items: center;
  text-align: center;
  display:grid;
  
}

.reviewImgFront {
  z-index: 1;
  box-shadow: 5px 5px 5px #e2e2e2;
  width: 60%;
  border-radius: 10px;
}


.reviewImg1Of4 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  object-fit: contain;
  align-self: center;
}

.reviewImg2Of4 {
  grid-column: 2/3;
  grid-row: 1/2;
  object-fit: contain;
  align-self: center;
}

.reviewImg3Of4 {
  grid-column: 1/2;
  grid-row: 2/3;
  object-fit: contain;
  align-self: top;
}

.reviewImg4Of4 {
  grid-column: 2/3;
  grid-row: 2/3;
  object-fit: contain;
}

.backgroundGridContainer {
  margin-top: -600px;
}


.reviewsCircle {
  position: relative;
  --reviewsCircleSize: 250px;
  height: var(--reviewsCircleSize);
  width: var(--reviewsCircleSize);
  bottom: 50px;
  right: 50px;
}

.reviewsDots {
  position: relative;
  --reviewsDotsSize: 150px;
  height: var(--reviewsDotsSize);
  width: auto;
  left: 185px;
  top: 50px;
}

.reviewsLoop {
  position: relative;
  top: 200px;
  right: 200px
}