/* -----Choose your class section----- */

#chooseYourClassSection {
  color: #343a40;
}

#chooseYourClassTitle {
  text-align: center;
  margin: 100px 0;

  /* font-size in media */
}

#justXGrouped {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.justXSections {
  height: auto;
  width: 270px;
  background-color: grey;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 100px;

  /* width in media */
  /* padding in media */
}

.justXSections > p {
  line-height: 150%;
  margin: 10px auto;
  justify-self: center;

  /* width and size in media */
}

/* .justXSections > button {
  height: 3.25rem;
  width: 12.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  border: none;
} */

.justGrammarSection {
  background-color: #e7fff6;
}

#leftStar {
  position: relative;
  margin-top: -46px;
  margin-left: -46px;
  bottom: 150px;
  right: 80px;
}

#leftDots {
  position: relative;
  margin-top: -220px;
  margin-left: -151px;
  z-index: -1;

  /* position in media */
}

.justGrammarSection > button {
  background-color: #21a372;
}

.justSpeakSection {
  background-color: #fef7e5;
}

#middleStar {
  position: relative;
  margin-top: -46px;
  margin-left: -46px;
  top: 310px;
}

#middleDots {
  position: relative;
  margin-left: -220px;
  margin-top: -151px;
  z-index: -1;

  /* position in media */
}

.justSpeakSection > button {
  background-color: #f0a050;
}

.justVocabSection {
  background-color: #ebfcff;
}

#rightStar {
  position: relative;
  margin-top: -46px;
  margin-left: -46px;
  left: 300px;
}

#rightDots {
  position: relative;
  margin-left: -220px;
  margin-top: -151px;
  z-index: -1;

  /* position in media */
}

.justVocabSection > button {
  background-color: #0a4d78;
}

@media (min-width: 992px) {
  #chooseYourClassSection {
    max-width: 80%;
    margin: auto;
  }

  @media (min-width: 1400px) {
    #chooseYourClassTitle {
      font-size: 4rem;
    }

    .justXSections {
      width: 300px;
      padding: 30px 0 10px;
    }

    .justBubbles {
      height: 100px;
    }

    .justXSections > h3 {
      margin-top: 16px;
      font-size: 2rem;
    }

    .justXSections > p {
      font-size: 1rem;
      width: 90%;
    }

    #leftDots {
      top: 90px;
      left: 2px;
    }

    #middleDots {
      top: 276px;
      left: 250px;
    }

    #rightDots {
      top: 24px;
      left: 250px;
    }
  }

  @media (min-width: 992px) and (max-width: 1400px) {
    #chooseYourClassTitle {
      font-size: 3.5rem;
    }

    .justXSections {
      width: 270px;
      padding: 20px 10px 10px;
    }

    .justBubbles {
      height: 80px;
    }

    .justXSections > h3 {
      margin-top: 20px;
      font-size: 1.7rem;
    }

    .justXSections > p {
      font-size: 1rem;
      width: 90%;
      line-height: 140%;
    }

    #leftDots {
      top: 110px;
      left: 8px;
    }

    #middleDots {
      top: 256px;
      left: 226px;
    }

    #rightDots {
      top: 44px;
      left: 226px;
    }
  }
}
